<div class="about">
  <div class="header">
    <div class="container">
      <div class="title">WE CARE ABOUT YOUR HEALTH</div>
      <div class="gridWrapper">
        <div></div>
        <div class="content">
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
              aliquam eaque delectus praesentium autem temporibus molestias
              nesciunt corporis necessitatibus dignissimos, ipsa facere
              reprehenderit quia, beatae error tempore impedit veniam asperiores
              sit minus, magnam odio sed ad? Eveniet tempora incidunt
              consequatur, voluptatem ut voluptatibus ab impedit!
            </p>
            <a routerLink="/contacts" class="link">Contact Us</a>
          </div>
          <hr />
          <div class="infoGroup">
            <div class="contactsGroup">
              <div class="contact">
                <div class="icon-appointment icon"></div>
                <div>+7 777 777 77 77</div>
              </div>
              <div class="contact">
                <div class="icon-google icon"></div>
                <div>some@gmail.com</div>
              </div>
              <div class="contact">
                <div class="icon-location icon"></div>
                <div>Turan 46A, Astana Kazakhstan</div>
              </div>
            </div>
            <div class="schedule">
              <div class="icon-customer-service icon"></div>
              <ul>
                <li>Mon : 10:00-17:30</li>
                <li>Tue : 10:00-17:30</li>
                <li>Wed : 10:00-17:30</li>
                <li>Thu : 10:00-17:30</li>
                <li>Fri : 10:00-17:30</li>
                <li>Sat : 10:00-16:30</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dentistsInfo">
    <div class="content">
      <div class="category">MEDICAL STAFF</div>
      <div class="title">Best Doctor Specialist</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id error ut cum
        voluptatum eveniet! Dolorem, quam dignissimos a eos quisquam porro
        recusandae. Recusandae quas repellat debitis iure accusamus libero a,
        rerum illum dolore quos minus nam modi temporibus?
      </p>
    </div>
  </div>

  <div *ngFor="let dentist of dentists; let i = index">
    <app-dentist *ngIf="i < limit" [dentist]="dentist"></app-dentist>
  </div>
  <button class="showButton" (click)="showMore()" *ngIf="show === true">
    Show more
  </button>
  <button class="showButton" (click)="showLess()" *ngIf="show === false">
    Show less
  </button>
  <section style="margin: 60px"></section>
</div>
