<div class="footer">
  <div class="container">
    <div class="logoWrapper">
      <div class="logo icon-tooth"></div>
      <div class="textWrapper">
        <div class="title">Dental Clinic</div>
      </div>
    </div>
    <ul aria-label="Company">
      <li><a routerLink="/">About</a></li>
      <li><a routerLink="/">Menu</a></li>
      <li><a routerLink="/">Contacts</a></li>
    </ul>
    <ul aria-label="Support">
      <li>FAQ</li>
      <li>Terms</li>
      <li>Privacy Policy</li>
    </ul>
    <ul aria-label="Get in touch">
      <li>+7 777 777 77 77</li>
      <li class="gmail"><span class="icon-google"></span> some@gmail.com</li>
      <li class="socials">
        <span class="icon-facebook"></span>
        <span class="icon-instagram"></span>
        <span class="icon-telegram"></span>
      </li>
    </ul>
  </div>
</div>
