.carousel {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;

  .category {
    color: hsla(203, 33%, 60%, 1);
    font-weight: 500;
  }

  .title {
    color: hsla(223, 26%, 21%, 1);
    font-size: 33px;
    font-family: Dosis;
    font-weight: 600;
  }

  .wrapper {
    width: 1280px;
    height: 600px;
  }
}
