<div class="profile">
  <div class="userInfo">
    <div class="head">
      <div class="title">Profile</div>
      <button (click)="logout()">Log Out</button>
    </div>
    <div class="content">
      <div class="imgWrapper">
        <img
          src="https://www.pinclipart.com/picdir/big/178-1789203_user-icon-png-white-printer-logic-client-download.png"
          alt=""
        />
      </div>
      <div class="email">{{ user.email }}</div>
    </div>
    <div class="reviews">
      <div class="title">Add your review</div>
      <textarea
        [(ngModel)]="review"
        placeholder="Leave your review here..."
      ></textarea>
      <button (click)="sendReview()">Send</button>
    </div>
  </div>

  <div class="appointmentInfo">
    <div class="title">Appointments</div>
    <div class="appointmentsWrapper">
      <div *ngFor="let appointment of appointments" class="card">
        <div class="flex">
          <div class="date">{{ appointment.info.date }}</div>
          <div class="info">
            <div class="service">{{ appointment.info.service }}</div>
            <div class="type">{{ appointment.info.serviceType }}</div>
            <div class="dentist">Dentist : {{ appointment.info.dentist }}</div>
          </div>
        </div>

        <div class="price">{{ appointment.info.price | currency }}</div>
      </div>
    </div>
  </div>
</div>
