<div class="profile">
  <div class="userInfo">
    <div class="head">
      <div class="title">Profile</div>
      <button (click)="logout()">Log Out</button>
    </div>
    <div class="content">
      <div class="imgWrapper">
        <img
          src="https://www.pinclipart.com/picdir/big/178-1789203_user-icon-png-white-printer-logic-client-download.png"
          alt=""
        />
      </div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>
  <div class="appointmentInfo">
    <div class="title">Appointments</div>
    <div class="appointmentsWrapper"></div>
  </div>
</div>
