<div class="services">
  <div class="header">
    <div class="content">
      <div class="icon-appointment icon"></div>
      <div class="title">
        It is important to consult a specialist in a timely manner
      </div>
      <div class="phone">+7 777 777 77 77</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        excepturi autem fugit velit fuga explicabo inventore reprehenderit
        minima, id, quibusdam aut placeat, maiores officiis tempore ratione quia
        praesentium vero quo facere voluptatem! Ipsam minus tempore
        exercitationem consectetur aperiam culpa eligendi repellat? Omnis neque
        a ea.
      </p>
    </div>
  </div>
  <app-services-group></app-services-group>
</div>
<app-footer></app-footer>
