<!-- <app-navigation></app-navigation> -->
<div class="main">
  <div class="header">
    <div class="wrapper">
      <div></div>
      <div class="content">
        <div class="title">
          Keep your smile <span>Clean</span> & <span>Great</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
          delectus sapiente vel hic distinctio praesentium quo dolor omnis fuga
          assumenda!
        </div>
        <div class="linksGroup">
          <a routerLink="/about" class="link">About Us</a>
          <a routerLink="/contacts" class="link">Make an Appointment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="wrapper">
      <div class="feature">
        <div class="icon icon-tooth"></div>
        <div class="textWrapper">
          <div class="text">Our Team</div>
          <p>Only highly skilled dentists</p>
        </div>
      </div>
      <div class="feature">
        <div class="icon icon-brush-teeth"></div>
        <div class="textWrapper">
          <div class="text">Services</div>
          <p>Top-rated services</p>
        </div>
      </div>
      <div class="feature">
        <div class="icon icon-anesthesia"></div>
        <div class="textWrapper">
          <div class="text">Sedation</div>
          <p>We provide anxiety-free dentistry</p>
        </div>
      </div>
      <div class="feature">
        <div class="icon icon-customer-service"></div>
        <div class="textWrapper">
          <div class="text">Satisfaction Rate</div>
          <p>Our clients trust us</p>
        </div>
      </div>
    </div>
  </div>
  <div class="helpServices">
    <div class="content">
      <div class="title">- Get professional help from our Doctors -</div>
      <div class="text">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita,
          beatae adipisci? Animi dicta, repellat nulla quibusdam incidunt
          dolore, quam in asperiores maiores accusamus libero deserunt qui quasi
          at architecto quia sapiente vel dolores cum. Accusamus!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
          aspernatur, voluptates totam nam repellendus dignissimos? Consequatur
          hic corrupti eum iure, eveniet repellat aperiam inventore blanditiis.
        </p>
      </div>
      <a routerLink="/" class="link">Make an Appointment</a>
    </div>
    <div class="imgWrapper">
      <img src="/assets/images/consultation.jpg" alt="" />
    </div>
  </div>
  <app-services-group class="servicesWrapper"></app-services-group>
  <div class="results">
    <div class="category">BEFORE & AFTER</div>
    <div class="title">- Results of Our Professional Work -</div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda!
    </div>
    <div class="groupWrapper">
      <div class="imgGroup">
        <div class="imgWrapper">
          <img src="/assets/images/before.jpeg" alt="" />
        </div>
        <div class="imgWrapper">
          <img src="/assets/images/after.jpeg" alt="" />
        </div>
      </div>
      <div class="imgGroup">
        <div class="imgWrapper">
          <img src="/assets/images/before.jpeg" alt="" />
        </div>
        <div class="imgWrapper">
          <img src="/assets/images/after.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <app-cards-carousel></app-cards-carousel>
</div>
<app-footer></app-footer>
