@mixin break($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.navigation {
  position: fixed;
  width: 100vw;
  height: 100%;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;

  .container {
    width: 100%;
    // max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

    @include break(1280px) {
      padding: 0 50px;
    }

    @include break(1024px) {
      padding: 0 30px;
    }

    .logoWrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      .homeLink {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
      }

      .logo {
        font-size: 50px;
        color: hsla(181, 49%, 64%, 1);
      }

      .textWrapper {
        display: flex;
        flex-direction: column;

        @include break(768px) {
          display: none;
        }

        .title {
          font-family: Dosis;
          font-size: 28px;
          font-weight: 600;
          color: hsla(222, 18%, 11%, 1);
        }

        .description {
          font-size: 15px;
          color: hsla(190, 8%, 42%, 1);

          @include break(1280px) {
            display: none;
          }
        }
      }
    }

    ul {
      display: flex;
      gap: 35px;

      @include break(1280px) {
        gap: 20px;
      }

      .link {
        color: hsla(223, 26%, 21%, 1);
        font-weight: 500;

        &:hover {
          color: hsla(203, 33%, 60%, 1);
        }
      }
    }

    .location {
      color: hsla(203, 33%, 60%, 1);
      font-weight: 500;

      @include break(1024px) {
        max-width: 75px;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    .profile {
      padding: 8px 30px;
      background-color: hsla(233, 28%, 50%, 1);
      border-radius: 10px;
      //   color: hsla(223, 26%, 21%, 1);
      color: white;
    }
  }
}
