<div class="navigation">
  <div class="container">
    <div class="logoWrapper">
      <a routerLink="/" class="homeLink"></a>
      <div class="logo icon-tooth"></div>
      <div class="textWrapper">
        <div class="title">Dental Clinic</div>
        <div class="description">microscopic dental center</div>
      </div>
    </div>
    <ul>
      <li><a routerLink="/about" class="link">About Us</a></li>
      <li><a routerLink="/services" class="link">Services</a></li>
      <!-- <li><a routerLink="/prices" class="link">Prices</a></li> -->
      <li><a routerLink="/contacts" class="link">Contacts</a></li>
    </ul>
    <ul>
      <li class="location">
        <span class="icon icon-location"></span>Astana Kazakhstan
      </li>
      <li>
        <a routerLink="/profile" class="profile" *ngIf="isAuth">Profile</a>
        <a routerLink="/auth/login" class="profile" *ngIf="!isAuth">Auth</a>
      </li>
    </ul>
  </div>
</div>
